*.o
*.bin
*.la
*.lo
*.a
*.A

autom4te.cache
.deps

Makefile
Makefile.in
INSTALL
aclocal.m4
configure
depcomp
missing
install-sh
stamp-h1
compile
config.log
config.status
config.guess
config.sub

*~

ext_deps
config.h.in
config.h
jansson_private_config.h.in
jansson_private_config.h
jansson_config.h
jansson.pc

mkinstalldirs

*.swp
src/ckpool
src/ckpmsg
src/ckdb
src/notifier
src/ckpool.conf
src/logs
ltmain.sh

*.m4

.libs/

libtool


